In [77]:
import pandas as pd
import numpy as np

In [2]:
"""Clean scraped data sets. Use pandas."""

'Clean scraped data sets. Use pandas.'

In [42]:
# Step 1: Clean statistics csv
nfl_raw_stats_df = pd.read_csv(r'C:\Users\nlpru\Desktop\NFL Salary Project\NFL Project CSV\nfl_raw_stats_data.csv')

In [43]:
nfl_raw_stats_df.head()

,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Y/G,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD
0,Jared Goff,LAR,25.0,QB,16.0,16.0,9-7-0,394.0,626.0,62.9,...,289.9,86.5,NaN,22.0,170.0,6.90,6.46,3.4,1.0,2.0
1,Jameis Winston,TAM,25.0,QB,16.0,16.0,7-9-0,380.0,626.0,60.7,...,319.3,84.3,NaN,47.0,282.0,7.17,6.15,7.0,2.0,2.0
2,Matt Ryan,ATL,34.0,QB,15.0,15.0,7-8-0,408.0,616.0,66.2,...,297.7,92.1,NaN,48.0,316.0,6.25,6.08,7.2,3.0,2.0
3,Tom Brady,NWE,42.0,QB,16.0,16.0,12-4-0,373.0,613.0,60.8,...,253.6,88.0,NaN,27.0,185.0,6.05,6.24,4.2,1.0,1.0
4,Carson Wentz,PHI,27.0,QB,16.0,16.0,9-7-0,388.0,607.0,63.9,...,252.4,93.1,NaN,37.0,230.0,5.91,6.26,5.7,2.0,4.0

In [44]:
nfl_raw_stats_df.columns

Index(['Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'QBrec', 'Cmp', 'Att', 'Cmp%',
       'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Lng', 'Y/A', 'AY/A', 'Y/C',
       'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'NY/A', 'ANY/A', 'Sk%', '4QC',
       'GWD'],
      dtype='object')

In [45]:
""" For purposes of analysis only interested in quarterbacks who started more than half (9 or greater) of their teams games. Position must be QB"""

' For purposes of analysis only interested in quarterbacks who started more than half (9 or greater) of their teams games. Position must be QB'

In [46]:
nfl_qb_stats = nfl_raw_stats_df[nfl_raw_stats_df['Pos'] == 'QB']

In [47]:
#Dataframe is limited to QBs who started at least half of their teams games
#Loop prints out series of each column, double checking numerical stats are read in as floats
for column in nfl_qb_stats.columns:
    print(nfl_qb_stats[column])

0            Jared Goff
1        Jameis Winston
2             Matt Ryan
3             Tom Brady
4          Carson Wentz
5          Dak Prescott
6         Philip Rivers
7        Aaron Rodgers*
8          Kyler Murray
9        Baker Mayfield
10          Andy Dalton
11    Mitchell Trubisky
12      Russell Wilson*
13           Derek Carr
14     Ryan Fitzpatrick
15      Deshaun Watson*
16           Kyle Allen
17     Patrick Mahomes*
18      Jimmy Garoppolo
19      Gardner Minshew
20           Josh Allen
21         Daniel Jones
22      Jacoby Brissett
23        Kirk Cousins*
24          Sam Darnold
25      Lamar Jackson*+
26          Drew Brees*
27     Matthew Stafford
28      Ryan Tannehill*
30        Mason Rudolph
31           Joe Flacco
32          Case Keenum
Name: Player, dtype: object
0     LAR
1     TAM
2     ATL
3     NWE
4     PHI
5     DAL
6     LAC
7     GNB
8     ARI
9     CLE
10    CIN
11    CHI
12    SEA
13    OAK
14    MIA
15    HOU
16    CAR
17    KAN
18    SFO
19    JAX
20    BUF
21    NYG
22    IND
23    MIN
24    NYJ
25    BAL
26    NOR
27    DET
28    TEN
30    PIT
31    DEN
32    WAS
Name: Tm, dtype: object
0     25.0
1     25.0
2     34.0
3     42.0
4     27.0
5     26.0
6     38.0
7     36.0
8     22.0
9     24.0
10    32.0
11    25.0
12    31.0
13    28.0
14    37.0
15    24.0
16    23.0
17    24.0
18    28.0
19    23.0
20    23.0
21    22.0
22    27.0
23    31.0
24    22.0
25    22.0
26    40.0
27    31.0
28    31.0
30    24.0
31    34.0
32    31.0
Name: Age, dtype: float64
0     QB
1     QB
2     QB
3     QB
4     QB
5     QB
6     QB
7     QB
8     QB
9     QB
10    QB
11    QB
12    QB
13    QB
14    QB
15    QB
16    QB
17    QB
18    QB
19    QB
20    QB
21    QB
22    QB
23    QB
24    QB
25    QB
26    QB
27    QB
28    QB
30    QB
31    QB
32    QB
Name: Pos, dtype: object
0     16.0
1     16.0
2     15.0
3     16.0
4     16.0
5     16.0
6     16.0
7     16.0
8     16.0
9     16.0
10    13.0
11    15.0
12    16.0
13    16.0
14    15.0
15    15.0
16    13.0
17    14.0
18    16.0
19    14.0
20    16.0
21    13.0
22    15.0
23    15.0
24    13.0
25    15.0
26    11.0
27     8.0
28    12.0
30    10.0
31     8.0
32    10.0
Name: G, dtype: float64
0     16.0
1     16.0
2     15.0
3     16.0
4     16.0
5     16.0
6     16.0
7     16.0
8     16.0
9     16.0
10    13.0
11    15.0
12    16.0
13    16.0
14    13.0
15    15.0
16    12.0
17    14.0
18    16.0
19    12.0
20    16.0
21    12.0
22    15.0
23    15.0
24    13.0
25    15.0
26    11.0
27     8.0
28    10.0
30     8.0
31     8.0
32     8.0
Name: GS, dtype: float64
0      9-7-0
1      7-9-0
2      7-8-0
3     12-4-0
4      9-7-0
5      8-8-0
6     5-11-0
7     13-3-0
8     5-10-1
9     6-10-0
10    2-11-0
11     8-7-0
12    11-5-0
13     7-9-0
14     5-8-0
15    10-5-0
16     5-7-0
17    11-3-0
18    13-3-0
19     6-6-0
20    10-6-0
21     3-9-0
22     7-8-0
23    10-5-0
24     7-6-0
25    13-2-0
26     8-3-0
27     3-4-1
28     7-3-0
30     5-3-0
31     2-6-0
32     1-7-0
Name: QBrec, dtype: object
0     394.0
1     380.0
2     408.0
3     373.0
4     388.0
5     388.0
6     390.0
7     353.0
8     349.0
9     317.0
10    314.0
11    326.0
12    341.0
13    361.0
14    311.0
15    333.0
16    303.0
17    319.0
18    329.0
19    285.0
20    271.0
21    284.0
22    272.0
23    307.0
24    273.0
25    265.0
26    281.0
27    187.0
28    201.0
30    176.0
31    171.0
32    160.0
Name: Cmp, dtype: float64
0     626.0
1     626.0
2     616.0
3     613.0
4     607.0
5     596.0
6     591.0
7     569.0
8     542.0
9     534.0
10    528.0
11    516.0
12    516.0
13    513.0
14    502.0
15    495.0
16    489.0
17    484.0
18    476.0
19    470.0
20    461.0
21    459.0
22    447.0
23    444.0
24    441.0
25    401.0
26    378.0
27    291.0
28    286.0
30    283.0
31    262.0
32    247.0
Name: Att, dtype: float64
0     62.9
1     60.7
2     66.2
3     60.8
4     63.9
5     65.1
6     66.0
7     62.0
8     64.4
9     59.4
10    59.5
11    63.2
12    66.1
13    70.4
14    62.0
15    67.3
16    62.0
17    65.9
18    69.1
19    60.6
20    58.8
21    61.9
22    60.9
23    69.1
24    61.9
25    66.1
26    74.3
27    64.3
28    70.3
30    62.2
31    65.3
32    64.8
Name: Cmp%, dtype: float64
0     4638.0
1     5109.0
2     4466.0
3     4057.0
4     4039.0
5     4902.0
6     4615.0
7     4002.0
8     3722.0
9     3827.0
10    3494.0
11    3138.0
12    4110.0
13    4054.0
14    3529.0
15    3852.0
16    3322.0
17    4031.0
18    3978.0
19    3271.0
20    3089.0
21    3027.0
22    2942.0
23    3603.0
24    3024.0
25    3127.0
26    2979.0
27    2499.0
28    2742.0
30    1765.0
31    1822.0
32    1707.0
Name: Yds, dtype: float64
0     22.0
1     33.0
2     26.0
3     24.0
4     27.0
5     30.0
6     23.0
7     26.0
8     20.0
9     22.0
10    16.0
11    17.0
12    31.0
13    21.0
14    20.0
15    26.0
16    17.0
17    26.0
18    27.0
19    21.0
20    20.0
21    24.0
22    18.0
23    26.0
24    19.0
25    36.0
26    27.0
27    19.0
28    22.0
30    13.0
31     6.0
32    11.0
Name: TD, dtype: float64
0     3.5
1     5.3
2     4.2
3     3.9
4     4.4
5     5.0
6     3.9
7     4.6
8     3.7
9     4.1
10    3.0
11    3.3
12    6.0
13    4.1
14    4.0
15    5.3
16    3.5
17    5.4
18    5.7
19    4.5
20    4.3
21    5.2
22    4.0
23    5.9
24    4.3
25    9.0
26    7.1
27    6.5
28    7.7
30    4.6
31    2.3
32    4.5
Name: TD%, dtype: float64
0     16.0
1     30.0
2     14.0
3      8.0
4      7.0
5     11.0
6     20.0
7      4.0
8     12.0
9     21.0
10    14.0
11    10.0
12     5.0
13     8.0
14    13.0
15    12.0
16    16.0
17     5.0
18    13.0
19     6.0
20     9.0
21    12.0
22     6.0
23     6.0
24    13.0
25     6.0
26     4.0
27     5.0
28     6.0
30     9.0
31     5.0
32     5.0
Name: Int, dtype: float64
0     2.6
1     4.8
2     2.3
3     1.3
4     1.2
5     1.8
6     3.4
7     0.7
8     2.2
9     3.9
10    2.7
11    1.9
12    1.0
13    1.6
14    2.6
15    2.4
16    3.3
17    1.0
18    2.7
19    1.3
20    2.0
21    2.6
22    1.3
23    1.4
24    2.9
25    1.5
26    1.1
27    1.7
28    2.1
30    3.2
31    1.9
32    2.0
Name: Int%, dtype: float64
0     220.0
1     243.0
2     228.0
3     193.0
4     213.0
5     229.0
6     217.0
7     189.0
8     173.0
9     179.0
10    170.0
11    156.0
12    190.0
13    191.0
14    182.0
15    191.0
16    188.0
17    176.0
18    193.0
19    150.0
20    146.0
21    140.0
22    143.0
23    165.0
24    147.0
25    161.0
26    159.0
27    117.0
28    126.0
30     80.0
31     86.0
32     83.0
Name: 1D, dtype: float64
0     66.0
1     71.0
2     93.0
3     59.0
4     53.0
5     62.0
6     84.0
7     74.0
8     88.0
9     89.0
10    66.0
11    53.0
12    60.0
13    75.0
14    51.0
15    54.0
16    52.0
17    83.0
18    75.0
19    70.0
20    53.0
21    75.0
22    50.0
23    66.0
24    92.0
25    83.0
26    61.0
27    66.0
28    91.0
30    76.0
31    70.0
32    69.0
Name: Lng, dtype: float64
0     7.4
1     8.2
2     7.3
3     6.6
4     6.7
5     8.2
6     7.8
7     7.0
8     6.9
9     7.2
10    6.6
11    6.1
12    8.0
13    7.9
14    7.0
15    7.8
16    6.8
17    8.3
18    8.4
19    7.0
20    6.7
21    6.6
22    6.6
23    8.1
24    6.9
25    7.8
26    7.9
27    8.6
28    9.6
30    6.2
31    7.0
32    6.9
Name: Y/A, dtype: float64
0      7.0
1      7.1
2      7.1
3      6.8
4      7.0
5      8.4
6      7.1
7      7.6
8      6.6
9      6.2
10     6.0
11     5.9
12     8.7
13     8.0
14     6.7
15     7.7
16     6.0
17     8.9
18     8.3
19     7.3
20     6.7
21     6.5
22     6.8
23     8.7
24     6.4
25     8.9
26     8.8
27     9.1
28    10.2
30     5.7
31     6.6
32     6.9
Name: AY/A, dtype: float64
0     11.8
1     13.4
2     10.9
3     10.9
4     10.4
5     12.6
6     11.8
7     11.3
8     10.7
9     12.1
10    11.1
11     9.6
12    12.1
13    11.2
14    11.3
15    11.6
16    11.0
17    12.6
18    12.1
19    11.5
20    11.4
21    10.7
22    10.8
23    11.7
24    11.1
25    11.8
26    10.6
27    13.4
28    13.6
30    10.0
31    10.7
32    10.7
Name: Y/C, dtype: float64
0     289.9
1     319.3
2     297.7
3     253.6
4     252.4
5     306.4
6     288.4
7     250.1
8     232.6
9     239.2
10    268.8
11    209.2
12    256.9
13    253.4
14    235.3
15    256.8
16    255.5
17    287.9
18    248.6
19    233.6
20    193.1
21    232.8
22    196.1
23    240.2
24    232.6
25    208.5
26    270.8
27    312.4
28    228.5
30    176.5
31    227.8
32    170.7
Name: Y/G, dtype: float64
0      86.5
1      84.3
2      92.1
3      88.0
4      93.1
5      99.7
6      88.5
7      95.4
8      87.4
9      78.8
10     78.3
11     83.0
12    106.3
13    100.8
14     85.5
15     98.0
16     80.0
17    105.3
18    102.0
19     91.2
20     85.3
21     87.7
22     88.0
23    107.4
24     84.3
25    113.3
26    116.3
27    106.0
28    117.5
30     82.0
31     85.1
32     91.3
Name: Rate, dtype: float64
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
30   NaN
31   NaN
32   NaN
Name: QBR, dtype: float64
0     22.0
1     47.0
2     48.0
3     27.0
4     37.0
5     23.0
6     34.0
7     36.0
8     48.0
9     40.0
10    37.0
11    38.0
12    48.0
13    29.0
14    40.0
15    44.0
16    46.0
17    17.0
18    36.0
19    33.0
20    38.0
21    38.0
22    27.0
23    28.0
24    33.0
25    23.0
26    12.0
27    18.0
28    31.0
30    15.0
31    26.0
32    15.0
Name: Sk, dtype: float64
0     170.0
1     282.0
2     316.0
3     185.0
4     230.0
5     151.0
6     222.0
7     284.0
8     309.0
9     285.0
10    249.0
11    234.0
12    319.0
13    184.0
14    209.0
15    257.0
16    397.0
17    127.0
18    237.0
19    184.0
20    237.0
21    295.0
22    159.0
23    206.0
24    212.0
25    106.0
26     89.0
27    137.0
28    212.0
30    124.0
31    194.0
32    145.0
Name: Yds.1, dtype: float64
0     6.90
1     7.17
2     6.25
3     6.05
4     5.91
5     7.68
6     7.03
7     6.15
8     5.78
9     6.17
10    5.74
11    5.24
12    6.72
13    7.14
14    6.13
15    6.67
16    5.47
17    7.79
18    7.31
19    6.14
20    5.72
21    5.50
22    5.87
23    7.20
24    5.93
25    7.13
26    7.41
27    7.64
28    7.98
30    5.51
31    5.65
32    5.96
Name: NY/A, dtype: float64
0     6.46
1     6.15
2     6.08
3     6.24
4     6.26
5     7.84
6     6.32
7     6.71
8     5.55
9     5.29
10    5.19
11    5.04
12    7.42
13    7.25
14    5.78
15    6.63
16    4.76
17    8.38
18    7.22
19    6.44
20    5.71
21    5.38
22    6.06
23    7.73
24    5.50
25    8.19
26    8.33
27    8.15
28    8.52
30    5.02
31    5.29
32    5.94
Name: ANY/A, dtype: float64
0     3.4
1     7.0
2     7.2
3     4.2
4     5.7
5     3.7
6     5.4
7     6.0
8     8.1
9     7.0
10    6.5
11    6.9
12    8.5
13    5.4
14    7.4
15    8.2
16    8.6
17    3.4
18    7.0
19    6.6
20    7.6
21    7.6
22    5.7
23    5.9
24    7.0
25    5.4
26    3.1
27    5.8
28    9.8
30    5.0
31    9.0
32    5.7
Name: Sk%, dtype: float64
0     1.0
1     2.0
2     3.0
3     1.0
4     2.0
5     NaN
6     1.0
7     2.0
8     1.0
9     1.0
10    NaN
11    3.0
12    4.0
13    2.0
14    3.0
15    3.0
16    0.0
17    1.0
18    4.0
19    3.0
20    4.0
21    1.0
22    2.0
23    1.0
24    2.0
25    1.0
26    1.0
27    2.0
28    2.0
30    1.0
31    NaN
32    NaN
Name: 4QC, dtype: float64
0     2.0
1     2.0
2     2.0
3     1.0
4     4.0
5     NaN
6     2.0
7     3.0
8     2.0
9     1.0
10    NaN
11    3.0
12    5.0
13    3.0
14    4.0
15    5.0
16    1.0
17    1.0
18    4.0
19    3.0
20    5.0
21    2.0
22    2.0
23    1.0
24    3.0
25    2.0
26    2.0
27    1.0
28    3.0
30    1.0
31    NaN
32    NaN
Name: GWD, dtype: float64

In [48]:
#Break QB record into 'Wins' and 'Losses'

def wins_and_losses(row):
    # Have to return row!!! Or get none
    wins = row['QBrec'].split('-')[0]
    losses = row['QBrec'].split('-')[1]
    ties = row['QBrec'].split('-')[2]
    row['Wins'] = wins
    row['Losses'] = losses
    row['Ties'] = ties
    return row

In [49]:
#Create columns for Wins, Losses, and Ties
nfl_qb_stats.loc[:,'Wins'] = [0 for x in range(len(nfl_qb_stats))]
nfl_qb_stats.loc[:,'Losses'] = [0 for x in range(len(nfl_qb_stats))]
nfl_qb_stats.loc[:,'Ties'] = [0 for x in range(len(nfl_qb_stats))]

C:\Users\nlpru\Anaconda3\envs\nflQBproject\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\nlpru\Anaconda3\envs\nflQBproject\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [50]:
# Use Wins and Losses, as easier to use as feature. 
nfl_qb_stats = nfl_qb_stats.apply(lambda x: wins_and_losses(x), axis = 1)

In [64]:
# Clean up player name, remove * and +
nfl_qb_stats['Player'] = nfl_qb_stats['Player'].apply(lambda x: x.strip('+').strip('*'))

In [52]:
## Next Step: Clean dataframe of player salaries
nfl_qb_salaries = pd.read_csv(r'C:\Users\nlpru\Desktop\NFL Salary Project\NFL Project CSV\nfl_salaries_raw_data_pd.csv')

In [53]:
# Drop unnecessary columns. Change column names. 
# Running this again will cause an ERROR
nfl_qb_salaries = nfl_qb_salaries.drop(columns = nfl_qb_salaries.columns[:2].values).rename(columns = {' average':'Salary'})

In [54]:
# Function to clean player name. 
def clean_player_name(player):
    name = player.split('\n')[1]
    return name
nfl_qb_salaries['Player'] = nfl_qb_salaries['Player'].apply(clean_player_name)

In [55]:
#Function to convert salary into an int
def convert_sal_to_int(salary):
    salary = int(salary.strip('$').replace(',', ''))
    return salary
nfl_qb_salaries['Salary'] = nfl_qb_salaries['Salary'].apply(convert_sal_to_int)

In [66]:
#Merge datasets together
nfl_stats_salary = pd.merge(nfl_qb_stats, nfl_qb_salaries, how = 'left', on = 'Player')
# Merge works, but need to fix QB names in NFL stats

In [82]:
def change_na(stat):
    if pd.isna(stat):
        return 0
    else:
        return stat

In [86]:
# Removes the NaN from Game-winning Drive and 4th Quarter Comeback. NaN represented 0. 
nfl_stats_salary['GWD'] = nfl_stats_salary['GWD'].apply(change_na)
nfl_stats_salary['4QC'] = nfl_stats_salary['4QC'].apply(change_na)

# Dropping QBR (blank column)
nfl_stats_salary.drop(columns = ['QBR'], inplace = True)

In [88]:
# Save 'nfl_stats_salary' as a csv for Linear Regression analysis
nfl_stats_salary.to_csv(r'C:\Users\nlpru\Desktop\NFL Salary Project\NFL Project CSV\nfl_stats_salary.csv', index = False)